/* General */
ul li {
  line-height: 1.5em;
  margin-bottom: 0.6em;
}

.rounded {
  border-radius: 10px;
}

.button {
  width: 13em;
}

/* Header */
#links span {
  font-size: 12pt;
  font-weight: 300;
}

  #links span.logo {
    font-size: 18pt;
    font-weight: 300;
  }

#links span + span:before {
  width: 3em;
  position: relative;
  display: inline-block;
  content: '|';
  text-align: center;
}

/* Handle layout when guides are being viewed in the app web browser
   (don't need to show header, download link, etc). */
html.inapp #header {
  display: none;
}

html.inapp #page-wrapper,
html.inapp .guide {
  padding-top: 0;
}

html.inapp .guide .content {
  margin-top: 0em;
  padding-top: 1.5em; 
}

html.inapp .guide header h2 {
  display: none;
}

html.inapp .guide header p {
  display: none;
}

html.inapp .guide p {
  margin-bottom: 1.1em;
}

html.inapp .product-box {
  opacity: 1.0 !important;
}

html.inapp #download {
  display: none;
}

/* Referral Dialog */

#referred-dialog {
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  background: #E0E0E0;
  width: 30em;
}

#referred-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#referred-dialog + .backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.close-button {
  background: none;
  border: none;
  position: absolute;
  left: 1em;
  top: 1em;
  color: #404040;
  line-height: 1em;
}

.close-button:hover {
  color: #707070 !important;
}

.close-button:focus {
  outline-width: 0;
}

#referred-dialog h3 {
  font-weight: 400;
  color: #303030;
  margin-bottom: 0.5em;
}

#referred-dialog p {
  font-weight: 300;
  color: #303030;
  margin-bottom: 1em;
}

#referred-dialog b {
  color: #303030;
  font-weight: 600;
}

#referred-dialog .button {
  line-height: 2.5em;
  height: 2.5em;
  border-radius: 8px;
}

.icloud-button {
  text-align: center;
  margin: 0 auto;
  width: 10em;
}

#apple-sign-in-button {
  display: block;
}

dialog[open] {
  animation: show 0.5s ease normal;
}
@keyframes show{
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Banner (First Page) */
#banner {
  overflow: hidden;
}

.video-background {
  width: 180vh; /* roughly 16/9, but tweaked by trial and error */
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 0;
}

#banner .mute {
  position: absolute;
  bottom: 1em;
  left: 3%;
  opacity: 0.75;
  height: 3em;
  width: 4em;
}

.mute {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
}

.mute.sound-on {
  background-image: url("images/sound-on.svg");
}

.mute.sound-off {
  background-image: url("images/sound-off.svg");
}

/* account for fucking bullshit tab bar occluding the viewport */
#banner.mobilesafari {
  min-height: 82vh;
}
#banner .video-background.mobilesafari {
  height: 91vh;
  width: 163.8vh;
  margin-top: -3.5em; /* height of header */
}

/* Details Page */
#details {
  background: #313340;
  background-image: -moz-linear-gradient(top, rgba(23, 24, 32, 0.6), rgba(23, 24, 32, 0.2)), url("images/overlay.png");;
  background-image: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.5), rgba(23, 24, 32, 0.1)), url("images/overlay.png");;
  background-image: -ms-linear-gradient(top, rgba(23, 24, 32, 0.5), rgba(23, 24, 32, 0.1)), url("images/overlay.png");;
  background-image: linear-gradient(top, rgba(23, 24, 32, 0.5), rgba(23, 24, 32, 0.1)), url("images/overlay.png");;
}

#details .content {
  padding-top: 4em;
}

.detail-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

  .detail-row#first-row {
    align-items: center;
  }

.detail-row header {
  flex: 1;
}

.detail-item {
  margin: 0 2em;
  flex: 1;
}

.detail-item p {
  margin-bottom: 0.3em;
  line-height: 1.5em;
  max-width: 22em;
}

.detail-item .circle {
  content: "";
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 1000px;
}

.detail-item .circle .svg {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%; 
}

.detail-item .svg path {
  fill: #ffffff;
}

/* App Preview */
.app-preview {
  position: relative;
  height: 400px;
  width: 702px; /* height * 1.755 */
}

.app-preview .mute {
  position: absolute;
  bottom: 5px;
  right: 0px;
  opacity: 0.75;
  height: 2.5em;
  width: 3.5em;
}

.phone-frame {
  background-image: url("images/iphone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.phone-inner {
  position: absolute;
  top: 12.075134%;
  left: 15.953109%;
  width: 68.09378%;
  height: 67.26296%;
}

#preview-vid {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 'How to Use' page */
#how-to-use .content {
  padding-bottom: 2em;
}

#how-to-use h2 {
  margin-bottom: 0.8em;
}

#how-to-use .steps {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#how-to-use .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0%; /* allows accurate centering */
}

#how-to-use .step:first-of-type {
  margin-right: 4em;
}

  #how-to-use .step video {
    width: 25em;
    margin-bottom: 5px;
  }

#how-to-use .actions li {
  padding: 0;
  margin: 5px 10px;
}

/* Download Section */

#download p {
  margin: 2em 15% 1em;
}

/* Guide */  
.guide {
  background: #313340;
  padding: 3em 0;
  text-align: center;
}

.guide .content {
  text-align: left;
  width: 55em;
  margin: 0 auto;
  padding: 0 5em 1em 5em;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 50px;
}

  .guide .content header {
    text-align: center;
  }

.guide img.full {
  width: 100%;
  border-radius: 10px;
}

.guide .small-bottom-margin {
  margin-bottom: 0.2em;
}

.product-box {
  margin-right: 2em;
  width: 100%;
  overflow: hidden;
  opacity: 0.9;
}

  .product-box:hover {
    opacity: 1;
  }

  .product-box .product-image {
    float: left;
    height: 100%;
    margin: 0.3em 2em 2em 0;
    border-radius: 10px;
  }

  .product-box .details {
    min-width: 200px;
    overflow: hidden;
    margin-bottom: 2em;
  }

  .product-box a.button {
    height: 2em;
    line-height: 2em;
    font-size: 12pt;
    margin-top: 0.5em;
  }

.scroll-fragment:before { 
  /* This makes sure headers aren't covered when they click
     a link that scrolls to a #fragment on the page. */
  display: block; 
  content: " "; 
  margin-top: -80px; 
  height: 80px; 
  visibility: hidden; 
}

/* Size Classes */

@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 980px) {

  #banner .content {
    max-width: 80%;
  }

  .detail-row {
    flex-direction: column;
    align-items: center;
  }

  .detail-item {
    margin-bottom: 1em;
  }

  #how-to-use .step:first-of-type {
    margin-right: 0;
  }

  #how-to-use .steps {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: unset;
  }

  .guide .content {
    text-align: left;
    width: 100%;
    border: none;
    padding: 1em 1em;
  }
}


@media screen and (max-width: 736px) {
  #links {
    display: none;
  }

  /* remove phone border from preview video */
  .phone-frame {
    background-image: none;
    width: 100vw;
    height: 100%;
    margin-bottom: 1em;
  }

  .phone-inner,
  #preview-vid {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}
