
/* Video Background */
.video-background {
  width: 180vh; /* roughly 16/9, but tweaked by trial and error */
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 0;
}

/* Mute Button */
#mute {
  position: absolute;
  bottom: 1em;
  left: 3%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.75;
  height: 3em;
  width: 4em;
  z-index: 30;
  border: 0;
}

.sound-on {
  background-image: url("images/sound-on.svg");
}

.sound-off {
  background-image: url("images/sound-off.svg");
}


.rounded {
  border-radius: 10px;
}

#banner {
  overflow-x: hidden;
}

/* account for fucking bullshit tab bar occluding the viewport */
#banner.mobilesafari {
  min-height: 82vh;
}
#banner .video-background.mobilesafari {
  height: 91vh;
  width: 163.8vh;
  margin-top: -3.5em; /* height of header */
}

ul li {
  line-height: 1.3em;
  margin-bottom: 0.6em;
}

.button {
  width: 13em;
}

#links span {
  font-size: 12pt;
  font-weight: 300;
}

  #links span.logo {
    font-size: 18pt;
    font-weight: 300;
  }

#links span + span:before {
  width: 3em;
  position: relative;
  display: inline-block;
  content: '|';
  text-align: center;
}

#download p {
  margin: 2em 15% 1em;
}

/* 'How to Use' page */
#how-to-use .content {
  padding-bottom: 2em;
}

#how-to-use h2 {
  margin-bottom: 0.8em;
}

#how-to-use .steps {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#how-to-use .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0%; /* allows accurate centering */
}

#how-to-use .step:first-of-type {
  margin-right: 4em;
}

  #how-to-use .step video {
    width: 25em;
    margin-bottom: 5px;
  }

#how-to-use .actions li {
  padding: 0;
  margin: 5px 10px;
}

/* Guide */

.guide .content {
  text-align: left;
  width: 55em;
  margin: 0 auto;
  padding: 0 5em 1em 5em;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 50px;
}

  .guide .content header {
    text-align: center;
  }

.guide img.full {
  width: 100%;
  border-radius: 10px;
}

.product-box {
  margin-right: 2em;
  width: 100%;
  overflow: hidden;
  opacity: 0.9;
}

  .product-box:hover {
    opacity: 1;
  }

  .product-box .product-image {
    float: left;
    height: 100%;
    margin: 0.3em 2em 2em 0;
    border-radius: 10px;
  }

  .product-box .details {
    min-width: 200px;
    overflow: hidden;
    margin-bottom: 2em;
  }

  .product-box a.button {
    height: 2em;
    line-height: 2em;
    font-size: 12pt;
    margin-top: 0.5em;
  }

.scroll-fragment:before { 
  /* This makes sure headers aren't covered when they click
     a link that scrolls to a #fragment on the page. */
  display: block; 
  content: " "; 
  margin-top: -80px; 
  height: 80px; 
  visibility: hidden; 
}

/* Size Classes */

@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 980px) {

  #banner .content {
    max-width: 80%;
  }

  .spotlight .video-background {
    position: relative;
    display: block;
    width: 100vw;
    height: 55.5555vw;
    max-height: 40vh;
    overflow: hidden;
    margin: 0;
  }

  .spotlight .content {
    padding-top: 20px;
  }

  ul li {
    list-style-position: inside;
  }

  .guide .content {
    text-align: left;
    width: 100%;
    border: none;
    padding: 1em 1em;
  }


  #how-to-use .step:first-of-type {
    margin-right: 0;
  }

  #how-to-use .steps {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: unset;
  }
}


@media screen and (max-width: 736px) {
  #links {
    display: none;
  }
}
